.brief {
  padding: 10px 0;
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;

  &__title {
    text-align: center;
    font-size: 1.8em;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }

  &__project-article {
    border-right: 1px solid black;
    padding-right: 10px;
  }

  &__project-name {
    padding: 0 8px;
  }

  &__price {
    text-align: center;
    font-weight: 300;
    margin-bottom: 1.5em;

    p {
      font-size: 1.6em;
    }

    span {
      font-weight: 400;
    }

    svg {
      margin-right: 7px;
    }
  }

  &__btn {
    @media (min-width: @screen-md) {
      display: none;
    }
  }

  &__action {
    text-align: center;
    display: table;
    width: 100%;
    line-height: 3em;
    list-style: none;
    margin-top: 2em;
  }

  &__action-item {
    display: inline-block;
    width: 50%;

    @media (min-width: @screen-sm) {
      width: 25%;
      display: inline-block;
    }

    @media (min-width: @screen-md) {
      width: 20%;
      display: inline-block;
    }

    span {

      &:hover {
        color: @blue;
      }

      &:hover svg {
        fill: red;
        cursor: pointer;
      }
    }
  }

  &__action-item:nth-child(3n+1) {
    @media (max-width: @screen-sm) {
      border-right: 1px solid @gray-darken;
    }
  }

  &__action-item:nth-child(3n+1) {
    @media (min-width: @screen-md) {
      border-right: 1px solid @gray-darken;
    }
  }

  &__action-button {
    display: none;

    @media (min-width: @screen-md) {
      display: inline-block;
      width: 20%;
    }
  }
}
