.btn {

  &--header-search {
    border: 0;
    border-left: 0;
    border-radius: 1px;
    padding: 3px 12px;
  }

  svg {
    transform: translateY(2px);
  }

  &--promo-buy {
    text-transform: uppercase;
    background-color: @blue;
    background-color: transparent;
    color: @blue;
    border: 2px solid @blue;
    border-radius: 1px;
    padding: 15px 70px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-weight: 700;
    letter-spacing: 2px;

    &:before, &:after {
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate3d(0, 0, 0);
      transition: transform .3s;
      background: #1E8BC3;
      content: '';
      z-index: -1;
    }

    &:before {
      opacity: .5;
      transition-delay: .175s;
    }

    &:after {
      transition-delay: 0s;
    }

    &:hover {
      transition: background .3s .2s, color .3s;
      background: #1E8BC3;
      color: @white;
    }

    &:hover:before,
    &:hover:after {
      transform: translate3d(0, 100%, 0);
    }

    &:hover:before {
      transition-delay: 0s;
    }

    &:hover:after {
      transition-delay: .175s;
    }
  }
}