.footer-bottom {
  padding: 2em 0 0 0;
  text-transform: uppercase;
  font-size: 0.8em;
  border-top: 1px solid @blue;

  &__copyright {
    text-align: left;
  }

  &__developer {

    a {
      color: @gray-darkest;
    }

    @media (min-width: @screen-sm) {
      text-align: right;
    }
  }
}