.footer-top {
  padding: 2em 0 2em 0;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &__wrapper {

    @media (min-width: @screen-xs) {
      float: left;
      width: 33%;
    }

    @media (min-width: @screen-md) {
      width: 25%;
    }

    &--contacts {
      margin-top: 2em;

      @media (min-width: @screen-md) {
        margin-top: 0;
        text-align: right;
      }
    }
  }

  &__list {
    list-style: none;
    margin-bottom: 1.5em;

    @media (min-width: @screen-md) {
      margin-bottom: 0;
    }
  }

  &__item {

    @media (min-width: @screen-md) {
      font-size: 1.1em;
    }

    svg {
      margin-right: 5px;
      transform: translate(0px,10px);
    }

    a {
      color: @gray-darkest;

      &:hover {
        color: @blue;
        text-decoration: none;
      }
    }
  }

  &__link {
    color: @gray-darkest;

    &:hover {
      text-decoration: none;
      color: @blue;
    }
  }
}