.header-top {
  padding: 1rem 0;
  background-color: @blue;
  color: @white;
  text-align: right;
  font-size: 1.1em;

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;
    padding: 0 20px;
    border-left: 1px solid @gray-lighter;
    line-height: 28px;

    a {
      color: @white;

      &:hover {
        text-decoration: none;
      }
    }

    &--search {

      svg {
        transform: translateY(4px);
      }
    }

    &--cart {

      svg {
        transform: translateY(6px);
      }
    }
  }

  &__item:first-child {
    border-left: none;
  }

  &__icon {
    fill: @white;
  }
}