.menu-link {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 1px;
    top: 50%;
    margin-top: 18px;
    background: 0 0;
    transition: .6s;
  }

  &:hover:after {
    background: @blue;
    width: 100%;
  }

  &:focus:after {
    background: @blue;
    width: 0;
  }
}