.new {

  &:before {
    position: absolute;
    content: 'New';
    bottom: 5%;
    left: 55px;
    background-color: #00B16A;
    color: @white;
    width: 40px;
    text-align: center;
    text-transform: uppercase;
  }
}