.project {
  overflow: hidden;
  position: relative;
  height: 17em;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 bottom;
  margin-bottom: 5px;

  &__desc {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 15em;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all ease-in-out 0.25s;
    transform: translateX(12em);
    padding-left: 45px;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    &:hover {
      width: 210px;
      transform: translateX(0em);
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }

  &__info {
    width: 70%;
    color: @gray-darkest;

    th {
      border-bottom: 1px solid @gray-dark;
      font-weight: 400;
    }

    td {
      text-align: right;
      border-bottom: 1px solid @gray-dark;
    }

  }

  &__compare {
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    color: @text-color;
    border: 1px solid transparent;
    padding: 0.5em 1em;

    &:hover {
      border: 1px solid #000;
    }
  }

  &__heart {
    position: absolute;
    bottom: 4px;
    left: 15px;

    &:hover .project__heart-styles {
      fill: red;
    }

    &:active .project__heart-styles {
      fill: red;
    }

    &--white {
      fill: #fff;
    }
  }

  &--scale {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: .6s;
    transform-style: preserve-3d;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .5);
      z-index: 10;
    }
  }
}