.projects {
  padding: 3em 0 3em 0;

  &__filter-list {
    height: 600px;
    display: flex;
    align-items: center;
  }

  &__link {

    &:hover {
      box-shadow: 0 0 1em -0.3em rgba(57, 65, 72, .8);
    }
  }
}