.promo {
  padding: 0em 0 2em 0;

  &__wrapper {
    height: 90vh;
    overflow: hidden;
    background-color: @gray-darken;

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &__img {
    width: 100%;
    height: 100%;

    @media (min-width: @screen-sm) {
      float: left;
      height: 100%;
      width: 70%;
    }
  }

  &__img-item {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 bottom;
    height: 100%;
  }

  &__other-img {
    float: left;
    width: 30%;
    height: 100%;
    display: none;

    @media (min-width: @screen-sm) {
      display: block;
      float: left;
    }
  }

  &__other-img-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 bottom;
    height: 33.4%;
    margin: 1px;
  }
}