.social {
  list-style: none;

  &__item {
    margin-bottom: 2px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;

    @media (min-width: @screen-md) {
      margin-bottom: 1px;
    }
  }

  &__link {
    position: relative;
    font-weight: 500;

    &:hover {
      text-decoration: none;
    }

    &:before, &:after {
      content: "";
      position: absolute;
      display: block;
      width: 0;
      height: 1px;
      margin-top: 18px;
      background: 0 0;
      transition: .6s;
    }

    &:before {
      left: 0;
      top: 0;
    }

    &:after {
      right: 0;
      top: 1px;
    }

    &:hover:after, &:hover:before {
      background: @blue;
      width: 100%;
    }

    &:focus:before, &:focus:after {
      background: @blue;
      width: 0;
    }
  }
}