@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto_light.woff") format("woff"),
       url("../fonts/roboto_light.woff2") format("woff2"),
       url("../fonts/roboto_light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto_regular.woff") format("woff"),
       url("../fonts/roboto_regular.woff2") format("woff2"),
       url("../fonts/roboto_regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto_regularitalic.woff") format("woff"),
       url("../fonts/roboto_regularitalic.woff2") format("woff2"),
       url("../fonts/roboto_regularitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto_medium.woff") format("woff"),
       url("../fonts/roboto_medium.woff2") format("woff2"),
       url("../fonts/roboto_medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto_bold.woff") format("woff"),
       url("../fonts/roboto_bold.woff2") format("woff2"),
       url("../fonts/roboto_bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}