html {
  box-sizing: border-box;
  font-size: 14px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  box-sizing: content-box;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  color: @gray-darkest;
  background-color: @white;
}

h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: @font-size--h1;
}
h2 {
  font-size: @font-size--h2;
  text-transform: uppercase;
  margin-bottom: 2em;
  font-weight: 300;
  text-align: center;
}
h3 {
  font-size: @font-size--h3;
}
h4 {
  font-size: @font-size--h4;
}
h5 {
  font-size: @font-size--h5;
}
h6 {
  font-size: @font-size--h6;
}

a {
  text-decoration: none;
  transition: all ease-in-out 0.25s;
}

button {
  background-color: inherit;
  border: none;
}