<div class="footer-bottom">
  <div class="container-fluid">
    <div class="row">

      <div class="footer-bottom__copyright  col-xs-12  col-sm-6">
        <p>© 2017 Авторские проекты</p>
      </div>

      <div class="footer-bottom__developer  col-xs-12  col-sm-6">
        <p>Developer: <a href="/" target="_blank" class="developer">WPC</a></p>
      </div>

    </div>
  </div>
</div>