<div class="footer-top">
  <div class="container-fluid">

    <div class="footer-top__wrapper">
      <ul class="footer-top__list">
        <li class="footer-top__item"><a href="/" class="footer-top__link">Авторские проекты</a></li>
        <li class="footer-top__item"><a href="/" class="footer-top__link">О нас</a></li>
        <li class="footer-top__item"><a href="/" class="footer-top__link">Новости</a></li>
        <li class="footer-top__item"><a href="/" class="footer-top__link">Блог</a></li>
      </ul>
    </div>

    <div class="footer-top__wrapper">
      <ul class="footer-top__list">
        <li class="footer-top__item"><a href="/" class="footer-top__link">Сотрудничество</a></li>
        <li class="footer-top__item"><a href="/" class="footer-top__link">Архитекторам</a></li>
        <li class="footer-top__item"><a href="/" class="footer-top__link">Строителям</a></li>
        <li class="footer-top__item"><a href="/" class="footer-top__link">Партнерская программа</a></li>
      </ul>
    </div>

    <div class="footer-top__wrapper">
      <ul class="footer-top__list">
        <li class="footer-top__item"><a href="/" class="footer-top__link">Помощь</a></li>
        <li class="footer-top__item"><a href="/" class="footer-top__link">Как заказать</a></li>
        <li class="footer-top__item"><a href="/" class="footer-top__link">Вопрос / ответ</a></li>
        <li class="footer-top__item"><a href="/" class="footer-top__link">Доставка / оплата</a></li>
        <li class="footer-top__item"><a href="/" class="footer-top__link">Индивидуальное проектирование</a></li>
      </ul>
    </div>

    <div class="footer-top__wrapper  footer-top__wrapper--contacts">
      <ul class="footer-top__list">
        <li class="footer-top__item">
          <a href="tel:+78126176379">+7 812 6176379</a>
        </li>
        <li class="footer-top__item">
          <a href="mailto:mail@author.pro">mail@author.pro</a>
        </li>
      </ul>
      <ul class="social">
        <li class="social__item">
          <a href="/" class="social__link" target="_blank">
            <span>Instargam</span>
          </a>
        </li>
        <li class="social__item">
          <a href="/" class="social__link" target="_blank">
            <span>Facebook</span>
          </a>
        </li>
        <li class="social__item">
          <a href="/" class="social__link" target="_blank">
            <span>Vkontakte</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>