<div class="header-top">
  <div class="container-fluid">
    <ul class="header-top__list">
      <li class="header-top__item"><a href="tel:+78126176379">+7 812 6176379</a></li>
      <li class="header-top__item"><a href="mailto:mail@author.pro">mail@author.pro</a></li>
      <li class="header-top__item  header-top__item--search">
        <svg width="16" height="16"><use class="header-top__icon" xlink:href="#search"></use></svg>
      </li>
      <li class="header-top__item  header-top__item--cart">
        <svg width="20" height="20"><use class="header-top__icon" xlink:href="#commerce"></use></svg>
      </li>
    </ul>
  </div>
</div>
