<div class="header-bottom">
  <div class="container-fluid">
  <nav class="navbar navbar-default">

    <div class="navbar-header">

      <button type="button" class="hamburger  hamburger--emphatic  navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>

      <a class="navbar-brand" href="/">
        <div class="logo">
          <span class="logo__first">Авторские</span>
          <span class="logo__second">Проекты</span>
        </div>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav  navbar-nav  navbar-right">
        <li class="active"><a href="/">Главная <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">О компании <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/">О нас</a></li>
            <li><a href="/">Новости</a></li>
            <li><a href="/">Блог</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Каталог <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/">Проекты домов</a></li>
            <li><a href="/">Проекты бань</a></li>
            <li><a href="/">Проекты беседок</a></li>
            <li><a href="/">Проекты гаражей</a></li>
            <li><a href="/">Проекты навесов</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Помощь <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/">Как заказать</a></li>
            <li><a href="/">Доставка и оплата</a></li>
            <li><a href="/">Вопрос и ответ</a></li>
            <li><a href="/">Индивидуальное проектирование</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Сотрудничество <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/">Архитекторам</a></li>
            <li><a href="/">Строителям</a></li>
            <li><a href="/">Партнерская реклама</a></li>
            <li><a href="/">Индивидуальное проектирование</a></li>
          </ul>
        </li>
        <li><a href="/" class="">Контакты</a></li>
      </ul>
    </div>

  </nav>
  </div>
</div>