//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  // padding: @breadcrumb-padding-vertical @breadcrumb-padding-horizontal;
  padding: 10px 0;
  // margin-bottom: @line-height-computed;
  margin-bottom: 0;
  list-style: none;
  // background-color: @breadcrumb-bg;
  // border-radius: @border-radius-base;
  background-color: transparent;

  > li {
    display: inline-block;

    + li:before {
      content: "@{breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      // color: @breadcrumb-color;
      // color: @gray;
    }
  }

  > .active {
    // color: @blue;
  }
}
